# Ignore all files in the build output directory
/build*/
/core/generated/

# .vscode/
.*/
venv/
__pycache__/
*/instance/

# Temporary files
*.txt
*.log
*.env
*.pem

# Ignore all object files and shared libraries
*.o
*.so
